*{
  text-decoration: none;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  line-height: 1;
}

body {
  margin: 0;
  overflow: hidden;
}

.gallery-container {
  width: 100%;
  overflow: auto;
  white-space: nowrap;
  height:100vh;
  padding-left:60px ;
}

.gallery {
  display: flex;
}

.gallery-item {
  width: 100%; /* Largeur de chaque élément de la galerie */
  margin-right: 20px; /* Espacement entre les éléments de la galerie */
  background-color: #f0f0f0;
  padding: 10px;
flex:0 0 auto;
  border: 1px solid #ccc;
box-sizing:border-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
/* Barre de défilement */
.gallery-container::-webkit-scrollbar {
  display:none;
}






.navBtn{
  position: fixed;
  left: 10px;
  width: 40px;
  height: 40px;
  top: calc(50% - 20px);
  display: flex;
  justify-content:center;
  align-items: center;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.4,.1,.2,1);
  transition-delay: .4s;
  z-index: 100;
}
.navBtn.hide{
  opacity: 0;
  transition-delay: 0s;
}

.dots{
  cursor: pointer;
}

.dot{
  background: #000000;
  width: 5px;
  height: 5px;
  margin:5px ;
  border-radius: 50%;
}

.navMenu{
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.navMenu_bg{
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: transform .6s cubic-bezier(.4,.1,.2,1) .2s;
  transform: translateX(calc(-100% + 60px));
  border-right: 1px solid #ccc;
  background: #f9fafb;
}

.open{
  transition-delay: 0;
  transform: translateZ(0);
}

.hide{
  pointer-events: none;
}

.closeBtn{
  position: absolute;
  left:80%;
  top: calc(3.3333vh - 3px);
  margin-left: auto;
  font-size: 32px;
  cursor: pointer;
  z-index: 101;
  transition-property: opacity;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.4,.1,.2,1);
  transition-delay: .4s;
}
.closeBtn.hide{
  opacity: 0;
  transition-delay: 0s;
}


.listNaviLink{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition-property: opacity,transform;
  transition-duration: .6s;
  transition-timing-function: cubic-bezier(.4,.1,.2,1);
  transition-delay: .2s;
  padding: 0 60px;
}

.listNaviLink.hide{
  transform: translateX(-20px);
  opacity: 0;
  transition-delay: 0s;
}

.footerNaviLinks{
  padding-bottom:30px ;
}

.sectionLink{
  margin-top:2.5vh;
}

.sectionLink a:hover::before{
  opacity: 1;
}
.sectionLink a:hover{
  transform: translateX(20px);
}

.sectionLink a{
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
  transition-property: opacity,transform;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.4,.1,.2,1);
}

.sectionLink a::before{
  content:'->';
  position: absolute;
  opacity: 0;
  left: -30px;
  top: calc(50% - 16px);
  font-size: 30px;
  font-family: manrope;
  font-weight: 500;
  transition-property: opacity,transform;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(.4,.1,.2,1);
  pointer-events: none;
}

.titleNaviLink{
  margin-bottom:15px;
  font-weight: 300;
}
.naviLink{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing:1px;
}